* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html,
body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

body > .container {
    flex-grow: 1;
}

footer {
    flex-shrink: 0;
    /* Prevent footer from shrinking */
}

.block-one {
    border-radius: 20px;
}

.block-two {
    border-radius: 20px;
}
